<% case params[:kind] %>
<% when 'text'%> 
	<%= simple_form_for @this_element do |f| %>
		<%= f.input :text_content, as: :text, label: "Text"%>
		<%= f.submit "Add" %>
	<% end %>
<% when 'link' %>
	<%= simple_form_for @this_element do |f| %>
		<%= f.input :text_content, as: :string, label: "Link" %>
		<%= f.submit "Add" %>
	<% end %>
<% when 'sms' %>
	<%= simple_form_for @this_element do |f| %>
		<%= f.input :text_content, as: :text, label: "Phone Number"%>
		<%= f.submit "Add" %>
	<% end %>
<% when 'location' %>
	<button type="button" onclick="loadGeoLocation()">Locate Me</button>
	<%= form_tag("post_" << params[:kind], method: "get") do %>
		<%= text_field_tag(:lat, "", {style: "display: none;"}) %>
		<%= text_field_tag(:long, "", {style: "display: none;"}) %>
		<%= submit_tag("Add") %> 
	<% end %>
<% when 'photo', 'file' %>
	<%= simple_form_for @this_element do |f| %>
		<%= f.input :file, as: :file, label: "Upload #{params[:kind]}" %>
		<%= f.button :submit, label: "Add" %>
	<% end %> 
<% end %>

