<p id="notice"><%= notice %></p>

<h1>Stash Elements</h1>

<table>
  <thead>
    <tr>
      <th>Text content</th>
      <th>Kind</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stash_elements.each do |stash_element| %>
      <tr>
        <td><%= stash_element.text_content %></td>
        <td><%= stash_element.kind %></td>
        <td><%= stash_element.file %></td>
        <td><%= link_to 'Show', stash_element %></td>
        <td><%= link_to 'Edit', edit_stash_element_path(stash_element) %></td>
        <td><%= link_to 'Destroy', stash_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Element', new_stash_element_path %>
